

.card {
    box-shadow: 10px 10px 5px grey;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
    background-image: url("./images/money2.jpg");
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 20px;
}

#main-heading {
    font-weight: bold;
    font-size: 35px;
}

#price-input {
    text-align: center;
    margin-bottom: 30px;
    border-color: gray;
    border-radius: 15px;
}

#how-wasit {
    font-size: 20px;
    font-weight: bold;
}

#how-much {
    font-size: 20px;
    font-weight: bold;  
}

#tipVal {
    margin-bottom: 15px;
}

#calculate-total {
    margin-top: 15px;
    border-radius: 10px;
    border-color: black;
}